.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  aspect-ratio: 1;
  margin: 12px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  border: 2px solid black;
}

.cell {
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

/* no duplicate border at outer top/left */
.cell:nth-child(-n + 9) {
  border-top: none;
}

.cell:nth-child(9n + 1) {
  border-left: none;
}

/* thick vertical Sudoku borders before columns 4 and 7 */
.cell:nth-child(3n + 1):not(:nth-child(9n + 1)) {
  border-left: 2px solid black;
}

/* thick horizontal Sudoku borders before rows 4 and 7 */
.cell:nth-child(n + 28):nth-child(-n + 36),
.cell:nth-child(n + 55):nth-child(-n + 63) {
  border-top: 2px solid black;
}

.input {
  width: 100%;
  background: none;
  border: none;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.editableCell {
  background-color: rgb(from var(--icon-select-colour) r g b / 0.15);
}

.errorCell {
  background-color: rgb(255 43 43 / 61%);
}

.completed {
  background-color: green;
}

.controls {
  margin-left: 12px;
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
