.titlebar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 16px;
  border-bottom: 1px solid #5f4634;
  color: rgb(47 33 29 / 0.72);
  background: linear-gradient(180deg, #dcc5ab 0%, #aa8665 100%);
  box-shadow: 0 2px 2px #0000002e;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 32px;
  text-shadow: 1px 1px rgb(255 255 255 / 0.35);
  text-transform: capitalize;
  cursor: grab;
  user-select: none;
}

.titlebar:active {
  cursor: grabbing;
}

.titlebar.active {
  color: #2f211d;
  background: linear-gradient(180deg, #ebcca9 0%, #feb159 100%);
}
