.container {
  position: absolute;
  overflow: visible;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #2f211d;
  border-radius: 6px;
  background-color: var(--window-background-colour);
}

.container[data-active] .window {
  box-shadow: 6px 6px 6px rgb(87 72 72 / 33%);
}

.content {
  height: calc(100% - 32px);
  overflow: auto;
}

.resizeHandle {
  position: absolute;
  z-index: 2;
  user-select: none;
}

.resizeHandle[data-resize-edge="top"],
.resizeHandle[data-resize-edge="bottom"] {
  right: 0;
  left: 0;
  height: 6px;
  cursor: ns-resize;
}

.resizeHandle[data-resize-edge="top"] {
  top: -6px;
}

.resizeHandle[data-resize-edge="bottom"] {
  bottom: -6px;
}

.resizeHandle[data-resize-edge="right"],
.resizeHandle[data-resize-edge="left"] {
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: ew-resize;
}

.resizeHandle[data-resize-edge="right"] {
  right: -6px;
}

.resizeHandle[data-resize-edge="left"] {
  left: -6px;
}

.resizeHandle[data-resize-edge="top-left"],
.resizeHandle[data-resize-edge="top-right"],
.resizeHandle[data-resize-edge="bottom-right"],
.resizeHandle[data-resize-edge="bottom-left"] {
  z-index: 3;
  width: 8px;
  height: 8px;
}

.resizeHandle[data-resize-edge="top-left"] {
  top: -8px;
  left: -8px;
  cursor: nwse-resize;
}

.resizeHandle[data-resize-edge="top-right"] {
  top: -8px;
  right: -8px;
  cursor: nesw-resize;
}

.resizeHandle[data-resize-edge="bottom-right"] {
  right: -8px;
  bottom: -8px;
  cursor: nwse-resize;
}

.resizeHandle[data-resize-edge="bottom-left"] {
  bottom: -8px;
  left: -8px;
  cursor: nesw-resize;
}
