body {
  margin: 0;
  padding: 0;
}

.desktop {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-colour);
}

.titlebar {
  width: 100%;
  height: 32px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
}

.app-icons-container {
  padding: 16px;
}

.app-icon {
  width: 64px;
  height: 64px;
  border: 1px dotted #333;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 16px;
}

.app-icon:hover {
  background-color: var(--icon-select-colour);
}

.window {
  position: absolute;
  border: 1px solid grey;
  background-color: var(--window-background-colour);
}

button {
  user-select: none;
}
